  
  
html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

#map { 
    height: 93%; 
    width : 60%;
    float : left;
    position : fixed!important;
}
#search{
    height: 100%; 
    width : 40%;
    float : right;
}
      
#add-coords{
    width : 50px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:65%;
}

#search-container{
    background-color:#edfff9;
    width : 80%;
    margin : auto;
    margin-top:20px;
}


.coords{
    width:80%;
    margin-bottom:5px;
    margin-left:25px
}

#apply{

}
#search-container-apply{
    
    background-color:#edfff9;
    width : 80%;
    margin : auto;
    margin-top:20px;

}

#search-container-apply #menu-list table tbody tr:hover{
    background-color:#a5bde5;
}
#search-container-apply #menu-result table tbody tr:hover{
    background-color:#a5bde5;
}
#logic-tab-menu table{
    user-select:none;
}

#search-container-apply #menu-list table{
    user-select:none;
}


#main-container{
    height: 100%; 
    margin: 0; 
    padding: 0; 
    margin-top:50px;
}

.nav-menu-li{
    margin-left:100px;
}


.nav-menu {
    color:#6699ff !important;
}
