#logic-tab-menu>table>tbody>tr>td:hover{
    background-color:#98b4e0;
    transition:0.45s;
}
#logic-tab-menu{
    margin-top:30px;
}logic-tab-menu>table{
    border-weight:0px;
}
#logic-tab-menu>table>tbody>tr>td{
    text-align:center;
}