<!DOCTYPE html>
<html>
  <head>
	<title> AP in the Sky(Client Application)</title>
  <% include ./common/header.ejs %>
    <!-- Custom CSS -->
    <link rel='stylesheet' href='/css/common/nav-bar.css' />
    <link rel='stylesheet' href='/css/registerPage/registerPage.css' />
    <link rel='stylesheet' href='/css/common/map.css' />
   
     <!--JS -->
    <script src="/javascripts/common/map.js"></script>      
    <script src="/javascripts/common/mapHandlerObject.js"></script>
    <script src="/javascripts/registerPage/mapEventWrapper.js"></script> 
    <script src="/javascripts/registerPage/registerPage.js"></script>   


  </head>
  <body>  
    <% include ./common/nav-bar.ejs %>

    <div id="main-container">
      <!-- #map-container>#1 -->
      <div id="map-container">
        <div id="map"></div>
      </div>
      <!-- #side-container>#2 -->
      <div id="side-container">
          <div id = "side-areaInfo-container">
            <div>
                <form>
                    <div class="form-group">
                      <label for="areaInfo-pos" class = "areaInfo-h4">위치</label>
                      <textarea class="form-control areaInfo-h6" rows="3" id="areaInfo-pos" readonly></textarea>
                    </div>
                  </form>
            </div>
            <div>
                <form>
                    <div class="form-group">
                      <label for="areaInfo-size" class = "areaInfo-h4">크기</label>
                      <textarea class="form-control areaInfo-h6" rows="3" id="areaInfo-size" readonly></textarea>
                    </div>
                  </form>
            <div>
                <form>
                    <div class="form-group">
                      <label for="areaInfo-area" class = "areaInfo-h4">면적</label>
                      <textarea class="form-control areaInfo-h6" rows="3" id="areaInfo-area" readonly></textarea>
                    </div>
                  </form>
            </div>
            

          </div> <!-- side areaInfo container -->

          <div id ="side-table-container">  
            <table class="table">
              <thead>
              </thead>

              <tbody>
                <tr>
                  <td>
                    시간
                  </td>
                  <td>
                    오키
                  </td>
                </tr>
              </tbody>

            </table>
          </div><!-- side table container -->

          <div id ="side-button-container">
            <button type="button" id="select-area" class="btn btn-info" onclick="selectArea()"> 영역 선택 </button>
            <button type="button" id="apply-service" class="btn btn-success" onclick="applyService()"> 서비스 신청 </button>
          </div><!-- side button container -->

        </div><!-- side container -->
      </div> <!-- main container  -->
    
     <!-- div id = map 을 찾기 때문에 div map 뒤에 호출해야 한다. -->
    <!--등록된 key를 이용해서 구글 API 요청. 추가로 libraries=places 라이브러리 호출. callback=initMap-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZDrALehkO3yRRrA6iqQnp6t7BrKTjjfU&libraries=places&callback=initMap"></script>
   <!-- map과 과련된 script들도 뒤에 호출해야 한다. -->
    <!-- <script src="/javascripts/side/test_side.js"></script>
    <script src="/javascripts/side/side.js"></script> -->
    
   
    
  </body>
</html>