
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="nav-bar-container">

        <!-- div1 > #1 -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">AP in the Sky &nbsp&nbsp&nbsp&nbsp (Service Monitor Application Beta.version.1)</a>
        </div> <!-- navebar header div -->

        <!-- div1 > #2 -->
        <div class="navbar-menu">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="nav-menu-li">
                    <a class="nav-menu" href="/submitServicePage"> Submit</a>
                </li>
                
                <li class="nav-menu-li">
                    <a class="nav-menu" href="/appliedServicePage"> Applied </a>
                </li>

                <li class="nav-menu-li">
                    <a class="nav-menu" href="/"> Finished </a>
                </li>

                <li class="nav-menu-li">
                    <a class="nav-menu" href="/droneManagePage"> Drone Manage </a>
                </li>
            </ul>
        </div> <!-- nav bar menu -->
    </div>  <!-- nav bar container -->
</nav>


