<!DOCTYPE html>
<html>
  <head>
	<title> Controll Pad </title>
  <% include ./common/header.ejs %>

  <script src="/javascripts/controllerPage/controllerPage.js"></script>   

  </head>
  <body>
        <div class="container">
          <span> MAC : <%= mac  %></span>  
        </div>
        <div class ="home">
          <form>
            <div class="form-group">
              <label for="interval-min">lat</label>
              <input type="text" class="form-control" id="lat">ㄷ
            </div>
          </form>
          <form>
            <div class="form-group">
              <label for="interval-min">lng</label>
              <input type="text" class="form-control" id="lng">  
              <button type="button" id="go-home" class="btn btn-info" onclick="go()"> 이동 </button>
            </div>
          </form>
        </div>
</body>
</html>