<!DOCTYPE html>
<html>
  <head>
	<title> Controll Pad </title>
  <% include ./common/header.ejs %>

  <script src="/javascripts/controllerPage/controllerPage.js"></script>   

  </head>
  <body>
        <div class="container">
          <span> MAC : <%= mac  %></span>  
        </div>
</body>
</html>