.sample-span{
    font-family:"굴림";
    font-size:20pt;
    user-select:none;

}
.sim-functions{
    font-family:"굴림";
    margin-left:10px;
    font-size:15pt;
    draggable:false;
    user-select:none;
}
.sim-functions:hover{
    cursor:pointer;
    background-color:#bae09d;
}
#side-container{
    height: 100%; 
    width : 30%;
    float : right;
    z-index:33;
    position:initial;
    background-color:rgba(255,255,255,0.5);
}
/*L4*/    
#side-sample-container{
    
    background-color:#f2f9e0;
    width : 80%;
    margin : auto;
    margin-top:20px;
}
/*L4*/    
#side-button-container{
    
    background-color:#f2f9e0;
    width : 80%;
    margin : auto;
    margin-top:20px;

}
#side-table-container{
    background-color:#f2f9e0;
    width : 80%;
    margin : auto;
    margin-top:20px;
}
/*L5*/ 
#add-coords{
    width : 50px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:65%;
}
#apply{

}

/* ?? */
.coords{
    width:80%;
    margin-bottom:5px;
    margin-left:25px
}




